.transaction {
  padding: 0;
  width: 85%;
  margin: 25px auto;

  .carousal-heading {
    width: 100%;
  }
  .latest_txn_request {
    background-color: #f1592a !important;
    border-radius: 6px !important;
    border-color: #f1592a !important;
    color: white !important;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  // .project-description {
  //   padding: 20px;
  //   margin: 15px 0;
  //   display: flex;
  //   align-items: flex-start;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   border: 1px solid #e0e0e0;
  //   border-radius: 4px;
  // }
  .p-heading {
    h3 {
      margin-top: 20px;
      font-weight: 500;
      font-size: 20px;
    }
    .trend-line {
      width: 57px;
      margin: 3px 0;
      border: 1px solid #f1592a;
    }
  }
  .project-description {
    position: relative; /* Set position to relative */
    padding: 20px;
    margin: 15px 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    max-height: 200px;
    overflow: hidden;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
    table {
      width: 50%;
      margin: 20px auto;
    }
  }

  .project-description.expanded {
    max-height: none;
  }

  .project-description button {
    position: absolute; /* Set position to absolute */
    bottom: 2px; /* Position button at the bottom */
    right: 20px; /* Position button at the left */
    color: #f1592a;
    background-color: #ffffff;
    // padding: 2px;
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .txn-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 0;
    .tab,
    .selected-tab {
      cursor: pointer;
      padding: 10px;
      border-radius: 2px;
      width: 23%;
      text-align: center;
      border: 1px solid #bdbdbd;
      font-weight: 500;
      font-size: 16px;
      color: #383838;
    }
    .selected-tab {
      border: 1px solid #f1592a;
      font-weight: 500;
      color: #f1592a;
    }
  }

  .table {
    width: 100%;
    td,
    th {
      border: 1px solid #e0e0e0;
      text-align: center;
      padding: 10px 0;
    }

    & > tbody > tr:nth-child(2n + 1) > td,
    & > tbody > tr:nth-child(2n + 1) > th {
      background-color: #fff5f1;
    }

    & > :not(caption) > * > * {
      box-shadow: none;
    }
  }

  .txn-request-main {
    padding: 10px;
    width: 100%;
    height: 300px;
    text-align: center;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txn-request {
      cursor: pointer;
      padding: 5px 10px;
      background: #f1592a;
      border-radius: 4px;
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 768px) {
  .transaction {
    padding: 0;

    .txn-tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
      gap: 10px;
      .tab,
      .selected-tab {
        cursor: pointer;
        padding: 5px 10px;
        width: 48%;
        font-size: 14px;
      }
    }
    .project-description {
      table {
        width: 100% !important;
      }
    }
  }
  .project-description {
    table {
      width: 100% !important;
    }
  }
  .table {
    td,
    th {
      padding: 5px 0;
      font-size: 14px;
    }
  }

  .txn-pagination {
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: end;

    .total {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 568px) {
  .transaction {
    .table {
      td,
      th {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 426px) {
  .transaction {
    width: 95%;
  }
}
