.review-section {
  padding: 0;
  width: 85%;
  margin: auto;

  .carousal-heading {
    width: 100%;
  }

  .filter-container {
    display: flex;
    gap: 10px;
    // border: 1px solid red;
    width: 30%;
    & > * {
      width: 50%;
    }
  }

  .main-div {
    margin: 15px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }

  .main-div-review {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 22px;
  }

  .user-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ef8379;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
  }

  .see_more {
    cursor: pointer;
    border: 1px solid #f1592a;
    color: #f1592a;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 4px;
    margin-bottom: 30px !important;
    float: right;
  }

  .username {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
    color: #121212;
  }

  .review-date {
    font-weight: 400;
    font-size: 14px;
    color: #383838;
  }

  .sub-details {
    text-align: left;
    margin-left: 16px;
    // padding: 20px;
  }

  .user-details {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .review-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
  }

  .review-img img {
    // align-self: left;
    width: 100px;
    height: 100px;
    padding: 10px;
  }

  $thumb-color: gray;
  $thumb-color-selected: #f1592a;

  .add-comment {
    .helpful-icon {
      color: $thumb-color;

      &.selected {
        color: $thumb-color-selected;
      }
    }
  }

  .first-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .content-div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: flex-start;
    width: 100%;
  }

  .review-content {
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
  }

  .comments-votes {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .comments {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
  }

  .votes {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #383838;
  }

  .p-line {
    width: 20px;
    border: 0.5px solid #e0e0e0;
    transform: rotate(90deg);
  }

  .social {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .add-comment {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 5px;
    gap: 10px;
    width: 114px;
    height: 34px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
  }
  .g-review {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .add-comment span {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #383838;
  }

  .review-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
    gap: 10px;
  }
  #google {
    position: relative;
    border-top: 100px solid #ea4335;
    border-right: 100px solid #4285f4;
    border-bottom: 100px solid #34a853;
    border-left: 100px solid #fbbc05;
    border-radius: 50%;
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 10vh auto 0;
  }

  #google::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -95px;
    transform: translateY(-50%);
    width: 245px;
    height: 100px;
    background: #4285f4;
  }

  #google::after {
    content: "";
    position: absolute;
    border-top: 200px solid transparent;
    border-right: 200px solid #ffffff;
    top: -100px;
    right: -100px;
    width: 0;
    height: 0;
  }
  .add-review {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 5px 15px;
    gap: 6px;
    height: 36px;
    // color: #f4f4f4;
    white-space: nowrap;
    border: 1px solid #f1592a;
    color: #f1592a;
    background: white;
  }

  .reviewer_type {
    margin-right: 25px;
    align-self: flex-end;
    padding: 1px 2px;
    vertical-align: bottom;
    color: #918c8c;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
    font-family: serif;
  }
}

@media screen and (max-width: 700px) {
  .review-section {
    .filter-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      // border: 1px solid red;
      & > * {
        width: 100%;
      }
    }
    .user-img {
      width: 32px;
      height: 32px;
    }
    .first-row {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    .username {
      font-size: 14px;
    }
    .g-review {
      justify-content: space-between !important;
      width: 100%;
    }
    .review-date {
      font-size: 12px;
    }
    .popOver {
      margin-top: -100px;
    }
    .dynamic-star-svg {
      font-size: 2px !important;
    }

    .add-review {
      width: 40%;
      font-size: 12px;
    }

    .main-div {
      margin-left: 0px !important;
    }

    .comments-votes {
      justify-content: flex-start;
    }

    .user-img {
      font-weight: 400;
      font-size: 14px;
    }

    .review-footer {
      flex-direction: column;
    }

    .filter-btn {
      border: none;
      gap: 10px;
      font-size: 12px;
      width: 100px;
      padding: 10px;
      height: 36px;
    }

    .filter-btn p {
      margin-top: -10px;
    }

    .filter-type {
      width: 90px;
      font-size: 12px !important;
    }

    .filters {
      padding-top: 0.3em;
    }

    .filter-btn {
      font-size: 15px;
      border: 1px solid #d5d5d5;
      border-radius: 5px;
    }

    .filter-btn p {
      margin: 0;
    }
  }
}
